<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Dashboard - Gym management system</title>
    <!-- font-awesome icon set core -->
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">
    <!-- load static files -->
    <script src="{% static 'js/require.min.js' %}"></script>
    <script>
        requirejs.config({
            baseUrl: '/'
        });
    </script>
    <!-- Dashboard Core -->
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet"/>
    <script src="{% static 'js/dashboard.js' %}"></script>
    <!-- c3.js Charts Plugin -->
    <link href="{% static 'plugins/charts-c3/plugin.css' %}" rel="stylesheet"/>
    <script src="{% static 'plugins/charts-c3/plugin.js' %}"></script>
    <!-- Google Maps Plugin -->
    <link href="{% static 'plugins/maps-google/plugin.css' %}" rel="stylesheet"/>
    <script src="{% static 'plugins/maps-google/plugin.js' %}"></script>
    <!-- Input Mask Plugin -->
    <script src="{% static 'plugins/input-mask/plugin.js' %}"></script>
</head>
<body>
<div class="page">
    <div class="page-main">
        <div class="header py-4">
            <div class="container">
                <div class="d-flex">
                    <a class="header-brand" href="/">
                        <img src="{% static 'img/logo_black.svg' %}" class="header-brand-img" alt="tabler logo">
                    </a>
                    <div class="d-flex order-lg-2 ml-auto">
                        <div class="dropdown">
                            <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
                                <span class="avatar">{{ user.first_name|first }}{{ user.last_name|first }}</span>
                                <span class="ml-2 d-none d-lg-block">
                          <span class="text-default">{{ user.first_name }} {{ user.last_name }}</span>
                          <small class="text-muted d-block mt-1">
                              {% if user.is_superuser %}
                                  Developer
                              {% else %}
                                  {% if user.is_staff %}
                                      Staff
                                  {% else %}
                                      Member
                                  {% endif %}
                              {% endif %}
                          </small>
                        </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                <a class="dropdown-item" href="{% url 'user_info' %}">
                                    <i class="dropdown-icon fe fe-user"></i> Profile
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'logout' %}">
                                    <i class="dropdown-icon fe fe-log-out"></i> Sign out
                                </a>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse"
                       data-target="#headerMenuCollapse">
                        <span class="header-toggler-icon"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg ml-auto">
                        <form class="input-icon my-3 my-lg-0">
                            <input type="search" class="form-control header-search" placeholder="Search&hellip;"
                                   tabindex="1">
                            <div class="input-icon-addon">
                                <i class="fe fe-search"></i>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg order-lg-first">
                        <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
                            <li class="nav-item">
                                <a href="/" class="nav-link active"><i class="fe fe-home"></i> Home</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="my-3 my-md-5">
            <div class="container">
                <div class="page-header">
                    <h1 class="page-title">
                        Dashboard
                    </h1>
                </div>
                <div class="row row-cards">
                    <div class="col-6 col-sm-4 col-lg-2">
                        <div class="card">
                            <div class="card-status bg-orange"></div>
                            <div class="card-body p-3 text-center">
                                <div class="h1 m-0 mt-4"><i class="fe fe-box"></i></div>
                                <div class="text-muted mb-4">Operation</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-2">
                        <div class="card">
                            <div class="card-status bg-orange-light"></div>
                            <div class="card-body p-3 text-center">
                                <div class="h1 m-0 mt-4"><i class="fa fa-inbox"></i></div>
                                <div class="text-muted mb-4"><a href="/operation">Check-in</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-2">
                        <div class="card">
                            <div class="card-status bg-orange-light"></div>
                            <div class="card-body p-3 text-center">
                                <div class="h1 m-0 mt-4"><i class="fa fa-money"></i></div>
                                <div class="text-muted mb-4"><a href="/operation/recharge">Recharge</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-2">
                        <div class="card">
                            <div class="card-status bg-green"></div>
                            <div class="card-body p-3 text-center">
                                <div class="h1 m-0 mt-4"><i class="fe fe-calendar"></i></div>
                                <div class="text-muted mb-4">Appointment</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-2">
                        <div class="card">
                            <div class="card-status bg-green-light"></div>
                            <div class="card-body p-3 text-center">
                                <div class="h1 m-0 mt-4"><i class="fa fa-bars"></i></div>
                                <div class="text-muted mb-4"><a href="/appointment">Record</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-2">
                        <div class="card">
                            <div class="card-status bg-green-light"></div>
                            <div class="card-body p-3 text-center">
                                <div class="h1 m-0 mt-4"><i class="fa fa-calendar-plus-o"></i></div>
                                <div class="text-muted mb-4"><a href="/appointment/new">New</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-cards">
                    <div class="col-6 col-sm-4 col-lg-2">
                        <div class="card">
                            <div class="card-status bg-blue"></div>
                            <div class="card-body p-3 text-center">
                                <div class="h1 m-0 mt-4"><i class="fe fe-file"></i></div>
                                <div class="text-muted mb-4">Report</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-2">
                        <div class="card">
                            <div class="card-status bg-blue-light"></div>
                            <div class="card-body p-3 text-center">
                                <div class="h1 m-0 mt-4"><i class="fa fa-line-chart"></i></div>
                                <div class="text-muted mb-4"><a href="/report">Balance Report</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-cards">
                    <div class="col-6 col-sm-4 col-lg-2">
                        <div class="card">
                            <div class="card-status bg-purple"></div>
                            <div class="card-body p-3 text-center">
                                <div class="h1 m-0 mt-4"><i class="fe fe-file-text"></i></div>
                                <div class="text-muted mb-4">Create</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-2">
                        <div class="card">
                            <div class="card-status bg-purple-light"></div>
                            <div class="card-body p-3 text-center">
                                <div class="h1 m-0 mt-4"><i class="fa fa-user-o"></i></div>
                                <div class="text-muted mb-4"><a href="/create/member">Create Member</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-2">
                        <div class="card">
                            <div class="card-status bg-purple-light"></div>
                            <div class="card-body p-3 text-center">
                                <div class="h1 m-0 mt-4"><i class="fa fa-address-card"></i></div>
                                <div class="text-muted mb-4"><a href="/create/coach">Create Coach</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-2">
                        <div class="card">
                            <div class="card-status bg-dark"></div>
                            <div class="card-body p-3 text-center">
                                <div class="h1 m-0 mt-4"><i class="fa fa-cog"></i></div>
                                <div class="text-muted mb-4"><a href="/admin">Manage Page</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="row align-items-center flex-row-reverse">
                <div class="col-auto ml-lg-auto">
                    By: Jack Wu & Lennox Xie
                </div>
                <div class="col-12 col-lg-auto mt-3 mt-lg-0 text-center">
                    Copyright © 2018 GMS Development Group - All rights reserved.
                </div>
            </div>
        </div>
    </footer>
</div>
</body>
</html>