<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Dashboard - Gym management system</title>
    <!-- font-awesome icon set core -->
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">
    <!-- load static files -->
    <script src="{% static 'js/require.min.js' %}"></script>
    <script>
        requirejs.config({
            baseUrl: '/'
        });
    </script>
    <!-- Dashboard Core -->
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet"/>
    <script src="{% static 'js/dashboard.js' %}"></script>
    <!-- c3.js Charts Plugin -->
    <link href="{% static 'plugins/charts-c3/plugin.css' %}" rel="stylesheet"/>
    <script src="{% static 'plugins/charts-c3/plugin.js' %}"></script>
    <!-- Google Maps Plugin -->
    <link href="{% static 'plugins/maps-google/plugin.css' %}" rel="stylesheet"/>
    <script src="{% static 'plugins/maps-google/plugin.js' %}"></script>
    <!-- Input Mask Plugin -->
    <script src="{% static 'plugins/input-mask/plugin.js' %}"></script>
</head>
<body>
<div class="page">
    <div class="page-main">
        <div class="header py-4">
            <div class="container">
                <div class="d-flex">
                    <a class="header-brand" href="/">
                        <img src="{% static 'img/logo_black.svg' %}" class="header-brand-img" alt="tabler logo">
                    </a>
                    <div class="d-flex order-lg-2 ml-auto">
                        <div class="dropdown">
                            <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
                                <span class="avatar">{{ user.first_name|first }}{{ user.last_name|first }}</span>
                                <span class="ml-2 d-none d-lg-block">
                          <span class="text-default">{{ user.first_name }} {{ user.last_name }}</span>
                          <small class="text-muted d-block mt-1">
                              {% if user.is_superuser %}
                              Developer
                              {% else %}
                                  {% if user.is_staff %}
                                  Staff
                                  {% else %}
                                    Member
                                  {% endif %}
                              {% endif %}
                          </small>
                        </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                <a class="dropdown-item" href="{% url 'user_info' %}">
                                    <i class="dropdown-icon fe fe-user"></i> Profile
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'logout' %}">
                                    <i class="dropdown-icon fe fe-log-out"></i> Sign out
                                </a>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse"
                       data-target="#headerMenuCollapse">
                        <span class="header-toggler-icon"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3 ml-auto">
                        <form class="input-icon my-3 my-lg-0">
                            <input type="search" class="form-control header-search" placeholder="Search&hellip;"
                                   tabindex="1">
                            <div class="input-icon-addon">
                                <i class="fe fe-search"></i>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg order-lg-first">
                        <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
                            <li class="nav-item">
                                <a href="/" class="nav-link active"><i class="fe fe-home"></i> Home</a>
                            </li>
                            <li class="nav-item">
                                <a href="" class="nav-link" data-toggle="dropdown"><i
                                        class="fe fe-box"></i> Operation</a>
                                <div class="dropdown-menu dropdown-menu-arrow">
                                    {% if user.is_superuser or user.is_staff %}
                                    <a href="/operation" class="dropdown-item">Check-in</a>
                                    {% endif %}
                                    <a href="/operation/recharge" class="dropdown-item">Recharge</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="" class="nav-link" data-toggle="dropdown"><i
                                        class="fe fe-calendar"></i> Appointment</a>
                                <div class="dropdown-menu dropdown-menu-arrow">
                                    <a href="/appointment" class="dropdown-item ">Record</a>
                                    <a href="/appointment/new" class="dropdown-item ">New</a>
                                </div>
                            </li>
                            {% if user.is_superuser or user.is_staff %}
                            <li class="nav-item dropdown">
                                <a href="" class="nav-link" data-toggle="dropdown"><i
                                        class="fe fe-file"></i> Report / Setting</a>
                                <div class="dropdown-menu dropdown-menu-arrow">
                                    <a href="/report" class="dropdown-item ">Balance</a>
                                </div>
                            </li>
                            {% endif %}
                            {% if user.is_superuser or user.is_staff %}
                            <li class="nav-item">
                                <a href="#" class="nav-link" data-toggle="dropdown"><i class="fe fe-file-text"></i>
                                    Create User</a>
                                <div class="dropdown-menu dropdown-menu-arrow">
                                    <a href="/create/member" class="dropdown-item ">Member</a>
                                    <a href="/create/coach" class="dropdown-item ">Coach</a>
                                </div>
                            </li>
                            {% endif %}
                            {% if user.is_superuser %}
                            <li class="nav-item dropdown">
                                <a href="/admin" class="nav-link">Manage Page</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="my-3 my-md-5">
            <div class="container">
                <div class="page-header">
                    <h1 class="page-title">
                        Dashboard
                    </h1>
                </div>
                <div class="row row-cards">
                    <div class="col-6 col-sm-4 col-lg-2">
                        <div class="card">
                            <div class="card-body p-3 text-center">
                                <div class="text-right">
                                    <i class="fa fa-paperclip"></i>
                                </div>
                                <div class="h1 m-0">653</div>
                                <div class="text-muted mb-4">Member number</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-2">
                        <div class="card">
                            <div class="card-body p-3 text-center">
                                <div class="text-right">
                                    <i class="fa fa-link"></i>
                                </div>
                                <div class="h1 m-0">56</div>
                                <div class="text-muted mb-4">Coach number</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-2">
                        <div class="card">
                            <div class="card-body p-3 text-center">
                                <div class="text-right">
                                    <i class="fa fa-money"></i>
                                </div>
                                <div class="h1 m-0">7</div>
                                <div class="text-muted mb-4">New Recharge</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-2">
                        <div class="card">
                            <div class="card-body p-3 text-center">
                                <div class="text-right">
                                    <i class="fa fa-line-chart"></i>
                                </div>
                                <div class="h1 m-0">27.3K</div>
                                <div class="text-muted mb-4">Balance</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-2">
                        <div class="card">
                            <div class="card-body p-3 text-center">
                                <div class="text-right">
                                    <i class="fa fa-rocket"></i>
                                </div>
                                <div class="h1 m-0">$95</div>
                                <div class="text-muted mb-4">Daily Earnings</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-2">
                        <div class="card">
                            <div class="card-body p-3 text-center">
                                <div class="text-right">
                                    <i class="fa fa-signal"></i>
                                </div>
                                <div class="h1 m-0">65</div>
                                <div class="text-muted mb-4">Human Traffic</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Purchase Amount</h3>
                            </div>
                            <div id="chart-development-activity" style="height: 10rem"></div>
                            <div class="table-responsive">
                                <table class="table card-table table-striped table-vcenter">
                                    <thead>
                                    <tr>
                                        <th colspan="2">User</th>
                                        <th>Commit</th>
                                        <th>Date</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="w-1"><span class="avatar">BM</span>
                                        </td>
                                        <td>Ronald Bradley</td>
                                        <td>Initial commit</td>
                                        <td class="text-nowrap">May 6, 2018</td>
                                        <td class="w-1"><a href="#" class="icon"><i class="fe fe-trash"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td><span class="avatar">BM</span></td>
                                        <td>Russell Gibson</td>
                                        <td>Main structure</td>
                                        <td class="text-nowrap">April 22, 2018</td>
                                        <td><a href="#" class="icon"><i class="fe fe-trash"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td><span class="avatar">BM</span></td>
                                        <td>Beverly Armstrong</td>
                                        <td>Left sidebar adjustments</td>
                                        <td class="text-nowrap">April 15, 2018</td>
                                        <td><a href="#" class="icon"><i class="fe fe-trash"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td><span class="avatar">BM</span></td>
                                        <td>Bobby Knight</td>
                                        <td>Topbar dropdown style</td>
                                        <td class="text-nowrap">April 8, 2018</td>
                                        <td><a href="#" class="icon"><i class="fe fe-trash"></i></a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <script>
                            require(['c3', 'jquery'], function (c3, $) {
                                $(document).ready(function () {
                                    var chart = c3.generate({
                                        bindto: '#chart-development-activity', // id of chart wrapper
                                        data: {
                                            columns: [
                                                // each columns data
                                                ['data1', 0, 5, 1, 2, 7, 5, 6, 8, 24, 7, 12, 5, 6, 3, 2, 2, 6, 30, 10, 10, 15, 14, 47, 65, 55]
                                            ],
                                            type: 'area', // default type of chart
                                            groups: [
                                                ['data1', 'data2', 'data3']
                                            ],
                                            colors: {
                                                'data1': tabler.colors["blue"]
                                            },
                                            names: {
                                                // name of each serie
                                                'data1': 'Purchases'
                                            }
                                        },
                                        axis: {
                                            y: {
                                                padding: {
                                                    bottom: 0,
                                                },
                                                show: false,
                                                tick: {
                                                    outer: false
                                                }
                                            },
                                            x: {
                                                padding: {
                                                    left: 0,
                                                    right: 0
                                                },
                                                show: false
                                            }
                                        },
                                        legend: {
                                            position: 'inset',
                                            padding: 0,
                                            inset: {
                                                anchor: 'top-left',
                                                x: 20,
                                                y: 8,
                                                step: 10
                                            }
                                        },
                                        tooltip: {
                                            format: {
                                                title: function (x) {
                                                    return '';
                                                }
                                            }
                                        },
                                        padding: {
                                            bottom: 0,
                                            left: -1,
                                            right: -1
                                        },
                                        point: {
                                            show: false
                                        }
                                    });
                                });
                            });
                        </script>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Customer satisfaction</h3>
                                    </div>
                                    <div class="card-body">
                                        <div id="chart-donut" style="height: 12rem;"></div>
                                    </div>
                                </div>
                                <script>
                                    require(['c3', 'jquery'], function (c3, $) {
                                        $(document).ready(function () {
                                            var chart = c3.generate({
                                                bindto: '#chart-donut', // id of chart wrapper
                                                data: {
                                                    columns: [
                                                        // each columns data
                                                        ['data1', 63],
                                                        ['data2', 37]
                                                    ],
                                                    type: 'donut', // default type of chart
                                                    colors: {
                                                        'data1': tabler.colors["green"],
                                                        'data2': tabler.colors["green-light"]
                                                    },
                                                    names: {
                                                        // name of each serie
                                                        'data1': 'Maximum',
                                                        'data2': 'Minimum'
                                                    }
                                                },
                                                axis: {},
                                                legend: {
                                                    show: false, //hide legend
                                                },
                                                padding: {
                                                    bottom: 0,
                                                    top: 0
                                                },
                                            });
                                        });
                                    });
                                </script>
                            </div>
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Customer group</h3>
                                    </div>
                                    <div class="card-body">
                                        <div id="chart-pie" style="height: 12rem;"></div>
                                    </div>
                                </div>
                                <script>
                                    require(['c3', 'jquery'], function (c3, $) {
                                        $(document).ready(function () {
                                            var chart = c3.generate({
                                                bindto: '#chart-pie', // id of chart wrapper
                                                data: {
                                                    columns: [
                                                        // each columns data
                                                        ['data1', 63],
                                                        ['data2', 44],
                                                        ['data3', 12],
                                                        ['data4', 14]
                                                    ],
                                                    type: 'pie', // default type of chart
                                                    colors: {
                                                        'data1': tabler.colors["blue-darker"],
                                                        'data2': tabler.colors["blue"],
                                                        'data3': tabler.colors["blue-light"],
                                                        'data4': tabler.colors["blue-lighter"]
                                                    },
                                                    names: {
                                                        // name of each serie
                                                        'data1': 'A',
                                                        'data2': 'B',
                                                        'data3': 'C',
                                                        'data4': 'D'
                                                    }
                                                },
                                                axis: {},
                                                legend: {
                                                    show: false, //hide legend
                                                },
                                                padding: {
                                                    bottom: 0,
                                                    top: 0
                                                },
                                            });
                                        });
                                    });
                                </script>
                            </div>
                            <div class="col-sm-4">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <div class="h5">New feedback</div>
                                        <div class="display-4 font-weight-bold mb-4">62</div>
                                        <div class="progress progress-sm">
                                            <div class="progress-bar bg-red" style="width: 28%"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <div class="h5">Today Charges</div>
                                        <div class="display-4 font-weight-bold mb-4">¥652</div>
                                        <div class="progress progress-sm">
                                            <div class="progress-bar bg-green" style="width: 84%"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <div class="h5">In Training</div>
                                        <div class="display-4 font-weight-bold mb-4">16</div>
                                        <div class="progress progress-sm">
                                            <div class="progress-bar bg-yellow" style="width: 34%"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="card p-3">
                            <div class="d-flex align-items-center">
                        <span class="stamp stamp-md bg-blue mr-3">
                          <i class="fe fe-dollar-sign"></i>
                        </span>
                                <div>
                                    <h4 class="m-0"><a href="javascript:void(0)">132
                                        <small>Rechange</small>
                                    </a></h4>
                                    <small class="text-muted">12 waiting payments</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="card p-3">
                            <div class="d-flex align-items-center">
                        <span class="stamp stamp-md bg-green mr-3">
                          <i class="fe fe-shopping-cart"></i>
                        </span>
                                <div>
                                    <h4 class="m-0"><a href="javascript:void(0)">78
                                        <small>Appointment</small>
                                    </a></h4>
                                    <small class="text-muted">4 Ongoing</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="card p-3">
                            <div class="d-flex align-items-center">
                        <span class="stamp stamp-md bg-red mr-3">
                          <i class="fe fe-users"></i>
                        </span>
                                <div>
                                    <h4 class="m-0"><a href="javascript:void(0)">653
                                        <small>Members</small>
                                    </a></h4>
                                    <small class="text-muted">4 registered today</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="card p-3">
                            <div class="d-flex align-items-center">
                        <span class="stamp stamp-md bg-yellow mr-3">
                          <i class="fe fe-message-square"></i>
                        </span>
                                <div>
                                    <h4 class="m-0"><a href="javascript:void(0)">4
                                        <small>Message</small>
                                    </a></h4>
                                    <small class="text-muted"></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="row align-items-center flex-row-reverse">
                <div class="col-auto ml-lg-auto">
                    By: Jack Wu & Lennox Xie
                </div>
                <div class="col-12 col-lg-auto mt-3 mt-lg-0 text-center">
                    Copyright © 2018 GMS Development Group - All rights reserved.
                </div>
            </div>
        </div>
    </footer>
</div>
</body>
</html>