<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Recharge - Gym management system</title>
    <!-- font-awesome icon set core -->
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">
    <!-- load static files -->
    <script src="{% static 'js/require.min.js' %}"></script>
    <script>
        requirejs.config({
            baseUrl: '/'
        });
    </script>
    <!-- Dashboard Core -->
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet"/>
    <script src="{% static 'js/dashboard.js' %}"></script>
    <!-- c3.js Charts Plugin -->
    <link href="{% static 'plugins/charts-c3/plugin.css' %}" rel="stylesheet"/>
    <script src="{% static 'plugins/charts-c3/plugin.js' %}"></script>
    <!-- Google Maps Plugin -->
    <link href="{% static 'plugins/maps-google/plugin.css' %}" rel="stylesheet"/>
    <script src="{% static 'plugins/maps-google/plugin.js' %}"></script>
    <!-- Input Mask Plugin -->
    <script src="{% static 'plugins/input-mask/plugin.js' %}"></script>
</head>
<body class="">
<div class="page">

    <div class="page-main">
        <div class="header py-4">
            <div class="container">
                <div class="d-flex">
                    <a class="header-brand" href="/">
                        <img src="{% static 'img/logo_black.svg' %}" class="header-brand-img" alt="tabler logo">
                    </a>
                    <div class="d-flex order-lg-2 ml-auto">
                        <div class="dropdown">
                            <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
                                <span class="avatar">{{ user.first_name|first }}{{ user.last_name|first }}</span>
                                <span class="ml-2 d-none d-lg-block">
                      <span class="text-default">{{ user.first_name }} {{ user.last_name }}</span>
                      <small class="text-muted d-block mt-1">
                          {% if user.is_superuser %}
                              Developer
                          {% else %}
                              {% if user.is_staff %}
                                  Staff
                              {% else %}
                                  {% if user.groups.all.0.name == "coach" %}
                                      Coach
                                  {% else %}
                                      Member
                                  {% endif %}
                              {% endif %}
                          {% endif %}
                      </small>
                    </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                <a class="dropdown-item" href="{% url 'user_info' %}">
                                    <i class="dropdown-icon fe fe-user"></i> Profile
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'logout' %}">
                                    <i class="dropdown-icon fe fe-log-out"></i> Sign out
                                </a>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse"
                       data-target="#headerMenuCollapse">
                        <span class="header-toggler-icon"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3 ml-auto">
                        <form class="input-icon my-3 my-lg-0">
                            <input type="search" class="form-control header-search" placeholder="Search&hellip;"
                                   tabindex="1">
                            <div class="input-icon-addon">
                                <i class="fe fe-search"></i>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg order-lg-first">
                        <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
                            <li class="nav-item">
                                <a href="/" class="nav-link"><i class="fe fe-home"></i> Home</a>
                            </li>
                            {% if user.groups.all.0.name != "coach" %}
                                <li class="nav-item">
                                    <a href="" class="nav-link active" data-toggle="dropdown"><i
                                            class="fe fe-box"></i> Operation</a>
                                    <div class="dropdown-menu dropdown-menu-arrow">
                                        {% if user.is_superuser or user.is_staff %}
                                            <a href="/operation" class="dropdown-item">Check-in</a>
                                        {% endif %}
                                        <a href="/operation/recharge" class="dropdown-item active">Recharge</a>
                                    </div>
                                </li>
                            {% endif %}
                            <li class="nav-item dropdown">
                                <a href="" class="nav-link" data-toggle="dropdown"><i
                                        class="fe fe-calendar"></i> Appointment</a>
                                <div class="dropdown-menu dropdown-menu-arrow">
                                    <a href="/appointment" class="dropdown-item">Record</a>
                                    {% if user.groups.all.0.name != "coach" %}
                                        <a href="/appointment/new" class="dropdown-item ">New</a>
                                    {% endif %}
                                </div>
                            </li>
                            {% if user.is_superuser or user.is_staff %}
                                <li class="nav-item dropdown">
                                    <a href="" class="nav-link" data-toggle="dropdown"><i
                                            class="fe fe-file"></i> Report / Setting</a>
                                    <div class="dropdown-menu dropdown-menu-arrow">
                                        <a href="/report" class="dropdown-item ">Balance</a>
                                    </div>
                                </li>
                            {% endif %}
                            {% if user.is_superuser or user.is_staff %}
                                <li class="nav-item">
                                    <a href="#" class="nav-link" data-toggle="dropdown"><i class="fe fe-file-text"></i>
                                        Create User</a>
                                    <div class="dropdown-menu dropdown-menu-arrow">
                                        <a href="/create/member" class="dropdown-item ">Member</a>
                                        <a href="/create/coach" class="dropdown-item ">Coach</a>
                                    </div>
                                </li>
                            {% endif %}
                            {% if user.is_superuser %}
                                <li class="nav-item dropdown">
                                    <a href="/admin" class="nav-link">Manage Page</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="my-3 my-md-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <h3 class="page-title mb-5">Operation</h3>
                        <div>
                            <div class="list-group list-group-transparent mb-0">
                                {% if user.is_superuser or user.is_staff %}
                                    <a href="{% url 'operation_checkin' %} "
                                       class="list-group-item list-group-item-action d-flex align-items-center">
                                        <span class="icon mr-3"><i class="fa fa-inbox"></i></span>Check-in
                                    </a>
                                {% endif %}
                                <a href="{% url 'operation_recharge' %}"
                                   class="list-group-item list-group-item-action d-flex align-items-center active">
                                    <span class="icon mr-3"><i class="fa fa-money"></i></span>Recharge
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Recharge</h3>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <form action="{% url 'getrecharge' %}" method="POST" id="recharge_form">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <div class="row align-items-center">
                                                    <div class="col">
                                                        <input type="text" placeholder="Member ID"
                                                               class="form-control mb-3" id="member_id"
                                                               name="member_id">
                                                    </div>
                                                </div>
                                                <div class="row align-items-center">
                                                    <div class="col">
                                                        <input type="number" placeholder="Recharge Quota"
                                                               class="form-control mb-3" id="recharge_quota"
                                                               name="recharge_quota" min="1">
                                                    </div>
                                                </div>
                                                <div class="row align-items-center">
                                                    <div class="col">
                                                        <div class="selectgroup w-100">
                                                            <label class="selectgroup-item">
                                                                <input type="radio" name="method" value="wechat"
                                                                       class="selectgroup-input" checked="">
                                                                <span class="selectgroup-button">Wechat</span>
                                                            </label>
                                                            <label class="selectgroup-item">
                                                                <input type="radio" name="method" value="alipay"
                                                                       class="selectgroup-input">
                                                                <span class="selectgroup-button">Alipay</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="btn-list mt-4 text-right">
                                                <button type="button" class="btn btn-warning btn-space"
                                                        id="verified_info">Verified
                                                </button>
                                                <button type="button" class="btn btn-primary btn-space"
                                                        data-toggle="modal" id="pop_btn" disabled="disabled"
                                                        data-target="#exampleModal">Submit
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="card">
                                            <div class="card-status card-status-left bg-blue"></div>
                                            <div class="card-header">
                                                <h3 class="card-title">Member Information</h3>
                                                <div class="card-options">
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="dimmer active" id="dimmed" style="display: none">
                                                    <div class="loader"></div>
                                                    <div class="dimmer-content">
                                                        <div class="d-flex justify-content-center"><span
                                                                class="avatar avatar-xxl avatar-gray-dark"
                                                        >--</span></div>
                                                        <div class="d-flex justify-content-center"
                                                             style="padding-top: 1rem;">
                                                            <h3>N/A</h3>
                                                        </div>
                                                        <div class="d-flex justify-content-center"
                                                             style="padding-top: 1rem;">
                                                            <div class="tag tag-danger">
                                                                Joined
                                                                <span class="tag-addon">-- Days</span>
                                                            </div>
                                                        </div>
                                                        <div class="d-flex justify-content-md-around"
                                                             style="padding-top: 1rem;">
                                                            <div class="tag tag-success">
                                                                Quota
                                                                <span class="tag-addon">- Times</span>
                                                            </div>
                                                            <div class="tag tag-info">
                                                                Appointment
                                                                <span class="tag-addon">--</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="realinfo">
                                                    <div class="d-flex justify-content-center"><span
                                                            class="avatar avatar-xxl avatar-gray-dark"
                                                            id="member_name_abbr">--</span></div>
                                                    <div class="d-flex justify-content-center"
                                                         style="padding-top: 1rem;">
                                                        <h3 id="member_name">N/A</h3>
                                                    </div>
                                                    <div class="d-flex justify-content-center"
                                                         style="padding-top: 1rem;">
                                                        <div class="tag tag-danger">
                                                            Joined
                                                            <span class="tag-addon" id="member_join">-- Days</span>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex justify-content-md-around"
                                                         style="padding-top: 1rem;">
                                                        <div class="tag tag-success">
                                                            Quota
                                                            <span class="tag-addon" id="member_quota">- Times</span>
                                                        </div>
                                                        <div class="tag tag-info">
                                                            Appointment
                                                            <span class="tag-addon">--</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% if user.is_staff %}
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Payment Verify</h3>
                            </div>
                            <div class="card-body">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <table class="table table-hover">
                                                <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Quota</th>
                                                    <th scope="col">Method</th>
                                                    <th scope="col">Time</th>
                                                    <th scope="col">Operation</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                    {% for request in PaddingRequest %}
                                                        <tr>
                                                            <th scope="col">{{ request.id }}</th>
                                                            <th scope="col">{{ request.quota }}</th>
                                                            <th scope="col">{{ request.recharge_method }}</th>
                                                            <th scope="col">{{ request.recharge_time }}</th>
                                                            <th scope="col">
                                                                <a class="btn btn-sm btn-danger" href="{% url 'invoke_recharge' request.id %}">Invoke</a>
                                                                <a class="btn btn-sm btn-success" href="{% url 'accept_recharge' request.id %}">Accept</a>
                                                            </th>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Please Finish the payment</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="form-label">Member</label>
                                <div class="form-control-plaintext" id="com_name">--</div>
                            </div>
                            <div class="form-group">
                                <label class="form-label">Recharge Quota</label>
                                <div class="form-control-plaintext" id="com_quota">-</div>
                            </div>
                            <div class="form-group">
                                <label class="form-label">Total Price</label>
                                <div class="form-control-plaintext" id="com_price">--</div>
                            </div>
                            <div class="form-group">
                                <label class="form-label">Remain time</label>
                                <div class="form-control-plaintext"><span class="h2" id="com_rest"></span></div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="form-label">Recharge Method</label>
                                <div class="form-control-plaintext" id="com_method">--</div>
                            </div>
                            <div class="form-group">
                                <label class="form-label">QR Code</label>
                                <div class="form-control-plaintext" id="com_qr"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" onclick="location.reload();" class="btn btn-secondary" data-dismiss="modal">Cancel</a>
                    <input onclick="$('#recharge_form').submit()" type="submit" class="btn btn-success" value="Finish" id="finalSubmit"/>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="row align-items-center flex-row-reverse">
                <div class="col-auto ml-lg-auto">
                    By: Jack Wu & Lennox Xie
                </div>
                <div class="col-12 col-lg-auto mt-3 mt-lg-0 text-center">
                    Copyright © 2018 GMS Development Group - All rights reserved.
                </div>
            </div>
        </div>
    </footer>
</div>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script>
    $("#recharge_quota").change(function () {
        if ($(this).val() <= 0) {
            $(this).val(1);
            alert("Value should greater than 0")
        }
    });

    $("#verified_info").click(function () {
        if ($("#member_id").val() === "") {
            alert("Member ID cannot be empty")
        } else if ($("#recharge_quota").val() === "") {
            alert("Value should greater than 0");
            $("#recharge_quota").val(1)
        } else {
            alert("All information is correct!, please submit");
            $("#pop_btn").removeAttr("disabled")
        }
    })

    $("#member_id").change(function () {
        var memberID = $(this).val();
        $("#dimmed").css('display', '');
        $("#realinfo").css('display', 'none');
        $.ajax({
            url: '{% url 'pull_info' %}',
            data: {
                'memberID': memberID
            },
            dataType: 'json',
            success: function (data) {
                $("#member_name").text(data.member_name);
                $("#com_name").text(data.member_name);
                $("#member_name_abbr").text(data.member_name_abbr);
                if (data.member_join > 1) {
                    $("#member_join").text(data.member_join + " Days");
                } else {
                    $("#member_join").text(data.member_join + " Day");
                }
                if (data.member_quota > 1) {
                    $("#member_quota").text(data.member_quota + " Times")
                } else {
                    $("#member_quota").text(data.member_quota + " Time")
                }
                if (data.member_quota > 0) {
                    $("#checkin_btn").removeAttr("disabled")
                }
                $("#dimmed").css('display', 'none');
                $("#realinfo").css('display', '');
            },
            error: function () {
                $("#member_id").val('');
                alert("Member not found")
            }
        });
    });

    $("#pop_btn").click(function () {
        $("#com_quota").text($("#recharge_quota").val());
        $("#com_qr").html('<img src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data='
            + "Please Transfer " + $("#recharge_quota").val()*20 + " RMB using " + $("input[name=method]:checked").val() + '.">');
        $("#com_price").text($("#recharge_quota").val() * 20);
        $("#com_method").text($('input[name=method]:checked').val());
        startTimer()
    });

    function startTimer(){
        var time = 120;

        var countdown = setInterval(function () {
            $("#com_rest").text(time + "s");
            if (time > 0) {
                time--;
            }else{
                clearInterval(countdown)
                location.reload();
            }
        }, 1000);
    }
</script>

</body>
</html>